@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

body {
  background-color: #F2F2F2;
  font-family: 'Merriweather', serif;
  vertical-align: middle;
}

img{
  border-radius: 15px;
  margin: 20px;
}

h1{
  font-family: 'Sacramento', cursive;
  color: #595959;
  font-size: 88px;
  margin: 50px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5 em;
  padding-bottom: 10px;
  color: #7f7f7f
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #A5A5A5
}

hr{
  color: #EAF6F6;
  width: 4%;
  margin-left:auto;
  margin-right: auto;
  border-bottom: 0px;

}

table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px;
}

div{
  border-radius: 15px;
  background-color: #cccccc;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius:50%
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

#header{
  align-items: center;
  text-align: center;
}

#PersonalInfo {
  flex: 1;
  display:inline-block;
  align-items: center ;
}

#Background{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  display:inline-block;
  align-items: center ;
}

#Skills {
  flex: 1;
  display:inline-block;
  align-items: center ;
}

#Hobbies {
  flex: 1;
  display:inline-block;
  align-items: center ;
}

#FavoriteFoods {
  flex: 1;
  display:inline-block;
  align-items: center ;
}

#Schedule-form{
  border: dotted;
  padding: 20px;
  margin: auto;
  width: 50%;
  border-color: black;
  border-radius: 15px;
  background-color: #F2F2F2;
}